In [1]:
import pandas


data =pandas.read_excel("restaurants_dakar.xlsx")
data.head()

,place_id,name,lat,lng,vicinity,business_status,open_now,rating,user_ratings_total,price_level,types,phone_in_payload
0,ChIJr620wJ9zwQ4RwWLnqbqYU6w,Le Taouk,14.669608,-17.430311,"45 Ave Albert Sarraut, Dakar",OPERATIONAL,True,3.9,359,2.0,"restaurant, point_of_interest, food, establish...",+221 33 842 07 07
1,ChIJlTYQsmhzwQ4RuaNvFPYc4m0,Nostra Restaurant,14.666684,-17.432500,"25 Av. du Pr. L. Sedar Senghor, Dakar",OPERATIONAL,True,4.3,102,NaN,"restaurant, point_of_interest, food, establish...",+221 77 698 06 06
2,ChIJiSS-Ar5ywQ4RZezFVraOJcs,HERITAGE,14.701474,-17.464834,"PG2P+H3M, Bd du President Habib Bourguiba, Dakar",OPERATIONAL,True,4.0,544,2.0,"restaurant, point_of_interest, food, establish...",+221 33 824 05 06
3,ChIJxyTVQTFzwQ4Rq_lIjhEdVJg,Kohinoor Indian Restaurant,14.673422,-17.437527,"41 Ave du President Lamine Gueye, Dakar",OPERATIONAL,True,4.1,92,NaN,"restaurant, point_of_interest, food, establish...",+221 78 485 82 82
4,ChIJ8xD5lLRzwQ4RN5vqwNtHZ0Y,Il Pappagallo,14.667673,-17.430389,"33 Rue Berenger Feraud, Dakar",OPERATIONAL,True,4.2,126,NaN,"restaurant, point_of_interest, food, establish...",+221 77 146 79 79

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60 entries, 0 to 59
Data columns (total 12 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   place_id            60 non-null     object
 1   name                60 non-null     object
 2   lat                 60 non-null     float64
 3   lng                 60 non-null     float64
 4   vicinity            60 non-null     object
 5   business_status     60 non-null     object
 6   open_now            60 non-null     bool
 7   rating              60 non-null     float64
 8   user_ratings_total  60 non-null     int64
 9   price_level         36 non-null     float64
 10  types               60 non-null     object
 11  phone_in_payload    58 non-null     object
dtypes: bool(1), float64(4), int64(1), object(6)
memory usage: 5.3+ KB

In [4]:
data.describe()

             lat        lng     rating  user_ratings_total  price_level
count  60.000000  60.000000  60.000000           60.000000    36.000000
mean   14.682408 -17.445682   4.148333          562.366667     2.083333
std     0.017589   0.016707   0.336730          568.972787     0.368394
min    14.661985 -17.475615   3.300000            1.000000     1.000000
25%    14.668266 -17.461850   3.975000          151.500000     2.000000
50%    14.672307 -17.437239   4.100000          372.000000     2.000000
75%    14.697782 -17.432134   4.300000          786.000000     2.000000
max    14.718423 -17.398904   5.000000         2321.000000     3.000000

In [8]:
data["rating"]

0     3.9
1     4.3
2     4.0
3     4.1
4     4.2
5     4.5
6     4.4
7     4.3
8     4.3
9     4.4
10    4.3
11    4.3
12    3.8
13    4.2
14    3.9
15    4.7
16    4.5
17    4.3
18    4.0
19    4.1
20    4.4
21    4.6
22    4.1
23    4.3
24    4.1
25    4.3
26    4.3
27    4.2
28    4.1
29    3.9
30    4.2
31    3.8
32    4.2
33    4.1
34    5.0
35    4.1
36    3.8
37    4.2
38    3.5
39    4.0
40    5.0
41    4.0
42    3.7
43    3.9
44    4.0
45    4.1
46    4.2
47    3.3
48    4.1
49    3.7
50    3.7
51    4.8
52    4.1
53    4.0
54    3.9
55    3.8
56    4.0
57    5.0
58    4.2
59    3.7
Name: rating, dtype: float64

In [11]:
tableau =data[(data["rating"] >=3) & (data["price_level"]>= 3)]
tableau

,place_id,name,lat,lng,vicinity,business_status,open_now,rating,user_ratings_total,price_level,types,phone_in_payload
8,ChIJgw85jkpywQ4R44Ua8ItxzDE,La Parrilla,14.663946,-17.434491,"Rue Place 18, Dakar",OPERATIONAL,True,4.3,764,3.0,"restaurant, point_of_interest, food, establish...",+221 33 822 15 00
20,ChIJg7q5QrRzwQ4R6knglsiPfDI,Restaurant Le Lagon 1,14.667679,-17.428518,"MH9C+3H9, Dakar",OPERATIONAL,True,4.4,2239,3.0,"restaurant, food, point_of_interest, establish...",+221 33 821 53 22
25,ChIJ2xCllbNzwQ4RGTBGn8tfqGs,La Fourchette,14.670386,-17.428002,"4 Rue Parent, Dakar",OPERATIONAL,True,4.3,1079,3.0,"restaurant, food, point_of_interest, establish...",+221 33 842 66 66
26,ChIJxbCHhkpywQ4RL_3PCfeGIXY,Beluga restaurant,14.663517,-17.434843,"Rue Mousse Diop, Dakar",OPERATIONAL,True,4.3,592,3.0,"restaurant, food, point_of_interest, establish...",+221 33 823 40 40

In [12]:
tableau = data[data["types"].str.contains("bar")]
tableau

,place_id,name,lat,lng,vicinity,business_status,open_now,rating,user_ratings_total,price_level,types,phone_in_payload
10,ChIJB9xpnrNzwQ4RMbQ2v7JCIPU,Restaurant Le Kermel,14.670408,-17.428954,"7 Rue Aristide Le Dantec, Dakar",OPERATIONAL,True,4.3,395,2.0,"bar, restaurant, point_of_interest, food, esta...",+221 33 822 49 70
24,ChIJtQeryspzwQ4R-HOyE4Ze6AQ,The Union Club,14.661985,-17.432378,"Rte de la Corniche Estate, Dakar",OPERATIONAL,True,4.1,1491,2.0,"restaurant, bar, food, point_of_interest, esta...",+221 78 246 09 09
27,ChIJ9dGypbNzwQ4RGkoYVwYBkdg,Restaurant Le Dagorne,14.671289,-17.428648,"11, Rue Dagorne Marché Kermel BP, Rue Dagorne,...",OPERATIONAL,True,4.2,372,2.0,"restaurant, bar, food, point_of_interest, esta...",+221 33 825 71 97
28,ChIJ8Wp3IL5ywQ4RGE3ZL40s7JU,Restaurant le Bazoff,14.706011,-17.460128,"PG3R+X2Q, Rue AAB 09, Dakar",OPERATIONAL,True,4.1,2321,2.0,"bar, restaurant, food, point_of_interest, esta...",+221 33 864 92 92
56,ChIJHYHP07FywQ4Rlp-lZgrYpOs,Restaurant New Africa,14.718423,-17.467177,"9794, Dakar",OPERATIONAL,True,4.0,421,2.0,"restaurant, bar, food, point_of_interest, esta...",+221 33 827 53 71